/snapterest/build/snapterest.js
/snapterest/package-lock.json
/snapterest/node_modules
/snapterest/node_modules/*

/snapkite-engine/package-lock.json
/snapkite-engine/node_modules
/snapkite-engine/node_modules/*
/snapkite-engine/filters/snapkite-filter-has-mobile-photo/node_modules/*
/snapkite-engine/filters/snapkite-filter-has-text/node_modules/*
/snapkite-engine/filters/snapkite-filter-is-possibly-sensitive/node_modules/*
/snapkite-engine/filters/snapkite-filter-is-retweet/node_modules/*

/react-essentials/code/chapter01/node_modules
/react-essentials/code/chapter01/node_modules/*
/react-essentials/code/chapter02/node_modules
/react-essentials/code/chapter02/node_modules/*
/react-essentials/code/chapter03/node_modules
/react-essentials/code/chapter03/node_modules/*
/react-essentials/code/chapter04/node_modules
/react-essentials/code/chapter04/node_modules/*
/react-essentials/code/chapter05/node_modules
/react-essentials/code/chapter05/node_modules/*
/react-essentials/code/chapter06/node_modules
/react-essentials/code/chapter06/node_modules/*
/react-essentials/code/chapter07/node_modules
/react-essentials/code/chapter07/node_modules/*
/react-essentials/code/chapter08/node_modules
/react-essentials/code/chapter08/node_modules/*
/react-essentials/code/chapter09/node_modules
/react-essentials/code/chapter09/node_modules/*
/react-essentials/code/chapter10/node_modules
/react-essentials/code/chapter10/node_modules/*